<div class="img">
  <img src="/assets/images/queen.png" alt="Logo de Queen" width="350" height="200">
</div>

<div class="container-bands">
  <div class="video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/j440-D5JhjI?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
  </div>



  <div class="text">
    <p class="text-bands">Queen es una banda británica de rock formada en 1970 en Londres por el cantante Freddie Mercury, el guitarrista Brian May, el baterista Roger Taylor y el bajista John Deacon. Si bien el grupo ha presentado bajas de dos de sus miembros (Mercury, fallecido en 1991, y Deacon, retirado en 1997), los integrantes restantes, May y Taylor, continúan trabajando bajo el nombre Queen, por lo que la banda aún es considerada activa. </p>
    <p class="text-bands">Para más información sobre el grupo pulsa a continuación <a target="_blank" href="https://es.wikipedia.org/wiki/Queen"><strong>Queen</strong></a>.</p>
    <a routerLink="/" class="btn">Go back home</a>
  </div>
</div>
