<div class="img">
  <img src="/assets/images/beatles.png" alt="Logo de The Beatles" width="270">
</div>

<div class="container-bands">

  <div class="video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/Jbt8oH5Lxto?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="text">
    <p class="text-bands">Grupo británico de música rock y pop, el más admirado y popular de la década de 1960 y uno de los más influyentes en la historia de la música moderna. Si el gran Elvis Presley dominó los años 50 como rey del rock and roll, correspondió a The Beatles, un grupo también rockero en sus raíces, ejercer la hegemonía en la década siguiente con una acertadísima y sofisticada amalgama de estilos que llevaría la música pop a todos los públicos y preludió géneros posteriores. </p>
    <p class="text-bands">Para más información sobre el grupo pulsa  continuación <a target="_blank" href="https://es.wikipedia.org/wiki/The_Beatles"><strong>The Beatles</strong></a>.</p>

    <a routerLink="/" class="btn">Go back home</a>
  </div>
</div>
