<div class="img">
  <img src="/assets/images/beatles.png" alt="Logo de The Beatles" width="270">
</div>

<div class="container-bands">

  <div class="video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/Jbt8oH5Lxto?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="text">
    <p class="text-bands">Grupo británico de música rock y pop, el más admirado y popular de la década de 1960 y uno de los más influyentes en la historia de la música moderna. Puedes obtener más información sobre <a target="_blank" href="https://es.wikipedia.org/wiki/The_Beatles">The Beatles</a></p>

    <a routerLink="/" class="btn">Go back home</a>
  </div>

</div>
