
<div class="img">
  <img src="/assets/images/rolling.png" alt="Logo de The Rolling Stones" width="500" height="200">
</div>
<div class="container-bands">

<div class="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/nrIPxlFzDi0?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
</div>



<div class="text">
  <p class="text-bands">
    The Rolling Stones es una banda británica de rock originaria de Londres. La banda se fundó en abril de 1962​ por Brian Jones, Mick Jagger, Keith Richards, Bill Wyman, Ian Stewart y Charlie Watts.​ Brian Jones fue despedido en junio de 1969, falleciendo tres semanas después, siendo reemplazado por el guitarrista Mick Taylor, que dejaría el grupo en 1975 y sería a su vez reemplazado por Ron Wood. Con el retiro de Bill Wyman en 1993 se incluyó al bajista Darryl Jones que, aunque toca con la banda desde la grabación del álbum Voodoo Lounge en 1994, no es un miembro oficial. Son considerados una de las más grandes e influyentes bandas de toda la historia del rock, siendo la agrupación que sentó las bases del rock contemporáneo.
  </p>

  <a routerLink="/" class="btn">Go back home</a>
</div>


  </div>
