
<div class="img">
  <img src="/assets/images/rolling.png" alt="Logo de The Rolling Stones" width="500" height="200">
</div>
<div class="container-bands">

<div class="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/nrIPxlFzDi0?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
</div>



<div class="text">
  <p class="text-bands">
    Grupo de rock británico integrado por Mick Jagger, Brian Jones, Keith Richards, Bill Wyman  y Charlie Watts.
    Formado en 1962, a los Rolling Stones se les ha presentado siempre como los rivales históricos de The Beatles. Dentro de esta comparación, los Stones representaron la corriente más agresiva de la música rock, aun cuando alcanzaron el estrellato de mano de la canción I wanna be your man, compuesta por los beatles John Lennon y Paul McCartney.
  </p>
  <p class="text-bands">Para más información sobre el grupo pulsa a continuación <a target="_blank" href="https://es.wikipedia.org/wiki/The_Rolling_Stones"><strong>The Rolling Stones</strong></a>.</p>

  <a routerLink="/" class="btn">Go back home</a>
</div>


  </div>
